@media (min-width: 767px){
    main .boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    main .boxes .box{
        width: 95%;
        margin: auto;
    }
}