@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* färger hanteras av script.js */
:root {
    --main: #fff;
    --secondary: #fff;
    --detail: #fff;
    --text: #fff;
}

/* sidans utseende */
html {
    font-size: 50%;
}

body {
    /* bakgrund hanteras av script.js */
    color: var(--text);
    height: 100%;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

.kontainer {
    width: 35rem;
    margin: auto;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 2rem;
}

/* header */
header {
    border-bottom: 0.2rem solid var(--detail);
    margin-bottom: 1rem;
}

header h1 {
    margin: auto;
    width: 35rem;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Cinzel Decorative", serif;
}

header nav {
    margin: auto;
    width: 35rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

header nav a {
    background-color: var(--main);
    text-decoration: none;
    color: var(--text);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    box-shadow: 0.15rem 0.15rem 0.2rem var(--detail);
    border: 0.1rem solid var(--detail);
}

header nav .aktiv {
    box-shadow: 0rem 0rem 0rem #fff;
}

header nav a:hover {
    box-shadow: 0rem 0rem 0rem #fff;
}


header h2 {
    width: 35rem;
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

/* main */
main {
    border-bottom: 0.2rem solid var(--detail);
}

main p {
    background-color: var(--main);
    font-size: 1.3rem;
    padding: 1rem;
}

main img {
    width: 95%;
    margin: auto;
    display: block;
    padding: 1rem;
    background-color: var(--main);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

main .boxes .box {
    border-top: 0.2rem solid var(--detail);
}

main .boxes .box h3 {
    font-size: 2rem;
    padding: 0.1rem;
}

main .boxes .box p {
    font-size: 1.2rem;
}

/* footer */
footer {}

footer h3 {
    border-bottom: 0.2rem solid var(--detail);
    font-size: 2rem;
}



footer p  {
    margin: auto;
    display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 1.5rem;
    color: var(--text);
    margin-bottom: 0.2rem;
    text-align: center;
}
footer p a{
    color: var(--text);
}

footer button {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    width: 25rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    color: var(--text);
    background-color: var(--main);
    margin-bottom: 3rem;
}

/* Media */
@media (min-width: 767px) {
    html {
        font-size: 80%;
    }

    .kontainer {
        width: 50rem;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 70%;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 100%;
    }
}